<!-- views/anasayfa.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anasayfa</title>
</head>
    <body>
        <% if (user) { %>
            <h2>Hoşgeldiniz!</h2>
            <a href="/rapor/referanskodhata">
                <button>Rapor Sayfasına Git</button>
            </a>
        <% } else { %>
            <p>Kullanıcı bilgileri bulunamadı.</p>
        <% } %>
    </body>
</html>

